<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>loadAllMyFans</key>
	<string>https://www.tuiji.net/api/selectAttentioned;jsessionid=</string>
	<key>unPayAttentionTo</key>
	<string>https://www.tuiji.net/api/cancelAttention;jsessionid=</string>
	<key>payAttentionTo</key>
	<string>https://www.tuiji.net/api/attentionUser;jsessionid=</string>
	<key>loadAllMyAttention</key>
	<string>https://www.tuiji.net/api/selectAttention;jsessionid=</string>
	<key>loadNewImageTimeLine</key>
	<string>https://www.tuiji.net/api/personal/tweet/imgList;jsessionid=</string>
	<key>deleteATimeLine</key>
	<string>https://www.tuiji.net/api/circle/deleteTweet;jsessionid=</string>
	<key>loadUserCollectionList</key>
	<string>https://www.tuiji.net/api/selectCollection;jsessionid=</string>
	<key>getSquareNewsWithID</key>
	<string>https://www.tuiji.net/api/selectTweetContext;jsessionid=</string>
	<key>transmitToTimeLine</key>
	<string>https://www.tuiji.net/api/circle/turnTweet;jsessionid=</string>
	<key>commentASquareNews</key>
	<string>https://www.tuiji.net/api/commentTweet;jsessionid=</string>
	<key>loadSquareComment</key>
	<string>https://www.tuiji.net/api/selectFatherComment;jsessionid=</string>
	<key>commentATimeLine</key>
	<string>https://www.tuiji.net/api/circle/comment;jsessionid=</string>
	<key>loadTimeLineComment</key>
	<string>https://www.tuiji.net/api/circle/getComments;jsessionid=</string>
	<key>deleteAFriend</key>
	<string>https://www.tuiji.net/api/deleteFriend;jsessionid=</string>
	<key>setFriendRemark</key>
	<string>https://www.tuiji.net/api/updateRemark;jsessionid=</string>
	<key>getUserEXT</key>
	<string>https://www.tuiji.net/api/personal/uInfoEx;jsessionid=</string>
	<key>setUserEXT</key>
	<string>https://www.tuiji.net/api/personal/editUInfoEx;jsessionid=</string>
	<key>getUploadToken</key>
	<string>https://www.tuiji.net/api/qiniu/uploadToken;jsessionid=</string>
	<key>collectSquareNews</key>
	<string>https://www.tuiji.net/api/collectTweet;jsessionid=</string>
	<key>collectTuiTimeLine</key>
	<string>https://www.tuiji.net/api/circle/collect;jsessionid=</string>
	<key>loadGlobalDetail</key>
	<string>https://www.tuiji.net/news/newsDetails;jsessionid=</string>
	<key>userLikeTimeLine</key>
	<string>https://www.tuiji.net/api/circle/praise;jsessionid=</string>
	<key>publicTimeLine</key>
	<string>https://www.tuiji.net/api/circle/writeTweet;jsessionid=</string>
	<key>loadNewTimeLine</key>
	<string>https://www.tuiji.net/api/circle/getTweet;jsessionid=</string>
	<key>loadSquareNews</key>
	<string>https://www.tuiji.net/api/selectTweet;jsessionid=</string>
	<key>loadNewSquareNews</key>
	<string>https://www.tuiji.net/api/selectNewTweet;jsessionid=</string>
	<key>loadOldSquareNews</key>
	<string>https://www.tuiji.net/api/selectOldTweet;jsessionid=</string>
	<key>loadGlobalNews</key>
	<string>https://www.tuiji.net/world/api/loadWorlds;jsessionid=</string>
	<key>loadMoreGlobalNews</key>
	<string>https://www.tuiji.net/world/api/loadNewWorlds;jsessionid=</string>
	<key>loadOldGlobalNews</key>
	<string>https://www.tuiji.net/world/api/loadOldWorlds;jsessionid=</string>
	<key>reciveNewContactRequest</key>
	<string>https://www.tuiji.net/api/friendRequestChoose;jsessionid=</string>
	<key>getAllNewContactRequest</key>
	<string>https://www.tuiji.net/api/selectNewMessage;jsessionid=</string>
	<key>loadAllGroupContactOfUser</key>
	<string>https://www.tuiji.net/api/findAllCroupChat;jsessionid=</string>
	<key>loadAllContactOfUser</key>
	<string>https://www.tuiji.net/api/findAllFriends;jsessionid=</string>
	<key>loadBaseUserInfo</key>
	<string>https://www.tuiji.net/api/user/loadAllInfo;jsessionid=</string>
	<key>sendAddFriendRequest</key>
	<string>https://www.tuiji.net/api/insertFriend;jsessionid=</string>
	<key>getUserInfoWithNumber</key>
	<string>https://www.tuiji.net/api/searchFriend;jsessionid=</string>
	<key>resourceUpLoad</key>
	<string>http://120.27.96.98:8080/upload</string>
	<key>getMessageCode</key>
	<string>https://www.tuiji.net/api/user/loadMessageCode</string>
	<key>signUp</key>
	<string>https://www.tuiji.net/api/user/register</string>
	<key>signIn</key>
	<string>https://www.tuiji.net/api/user/login</string>
	<key>modifyUserInfo</key>
	<string>https://www.tuiji.net/api/personal/edit;jsessionid=</string>
</dict>
</plist>
